# Git ignored files
.DS_Store
DerivedData/
build/
*.xcodeproj/
*.xcuserstate
*.xcuserdata/
xcuserdata/
*.swiftdoc
*.swiftinterface
*.swiftmodule

# Swift Package Manager
.swiftpm/
**/.build/

# Rust build artifacts
**/target/

# Local HTTPS development certificate and private key
website/.certs/
